
.letteringhello {
    padding-left: 40px;
    margin-right: 50px;
    height: 300px;
}

.letteringksksks {
    padding-right: 40px;
    margin-left: 50px;
    height: 300px;
}

.texto2 {
    margin-top: 60px;
}

.texto4 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.lapiceslettering {
    padding-right: 40px;
    margin-left: 50px;
    height: 300px;
    margin-right: 50px;
}

.textolapices {
    margin-top: 80px;
}

.rotuladoreslettering {
    padding-right: 40px;
    margin-left: 50px;
    height: 300px;
    margin-right: 50px;
}

.rotuladoresbrushlettering {
    padding-right: 40px;
    margin-left: 50px;
    height: 300px;
    margin-right: 50px;
}

.card {
    margin-left: 349px;
    height: 625px;
    width: 600px;
}

.textoconclusion1 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.textoconclusion2 {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.piedepagina {
    background-color: white;
}

.letteringultimaimagen {
    margin-left: 200px;
    height:700px;
    width: 900px; 
}

